apiVersion: projectcalico.org/v3
kind: CalicoAPIConfig
metadata:
spec:
  datastoreType: "etcdv3"
  etcdEndpoints: {{ etcd_servers }}
  etcdKeyFile: {{ k8s_pki_dir }}/calico-key.pem
  etcdCertFile: {{ k8s_pki_dir }}/calico.pem
  etcdCACertFile: {{ k8s_pki_dir }}/ca.pem
