[deploy]
10.10.10.10 iface=ens192

[chrony]
test.andrew iface=ens34

[etcds]
test.andrew iface=ens34
[add_etcds]

[delete_etcds]

[masters]
test.andrew iface=ens34
[add_masters]

[delete_masters]

[nodes]
test.andrew iface=ens34

[add_nodes]

[delete_nodes]

[kube_masters:children]
masters
add_masters
delete_masters

[kube_nodes:children]
nodes
add_nodes
delete_nodes

[kube_cluster:children]
kube_masters
kube_nodes

[kube_etcds:children]
etcds
add_etcds
delete_etcds
