{% macro initial_cluster() -%}
{% for host in groups['kube_etcds'] -%}https://{{ hostvars[host]['ansible_' + iface].ipv4.address }}:2379{%- if not loop.last -%},{%- endif -%}{%- endfor -%}
{% endmacro -%}

export PATH="{{ etcd_bin_dir }}:$PATH"

alias etcd2="ETCDCTL_API=2 {{ etcd_bin_dir }}/etcdctl --cert-file={{ etcd_cert_healthcheck_client }} \
    --key-file={{ etcd_cert_healthcheck_client_key }} \
    --ca-file={{ etcd_ca }} \
    --endpoints '{{ initial_cluster() }}'"

alias etcd3="ETCDCTL_API=3 {{ etcd_bin_dir }}/etcdctl --cert={{ etcd_cert_healthcheck_client }} \
    --key={{ etcd_cert_healthcheck_client_key }} \
    --cacert={{ etcd_ca }} \
    --endpoints '{{ initial_cluster() }}'"

function etcd-status(){
    etcd3 endpoint status --write-out=table
}
