# https://github.com/kubernetes/kubernetes/issues/92175

[Unit]
Description=Limited resources slice for containers and pods
DefaultDependencies=no
Before=slices.target
Wants=-.slice
After=-.slice
[Slice]
# MemoryLimit={{ kubelet.kube_memory_reserved|regex_replace('Mi', 'M') }}
