[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
BindsTo=containerd.service
After=network-online.target firewalld.service containerd.service
Wants=network-online.target
Requires=docker.socket

[Service]
Type=notify
# the default is not to use systemd for cgroups because the delegate issues still
# exists and systemd currently does not support the cgroup feature set required
# for containers run by docker
Environment="PATH={{ docker_bin_dir }}:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
{% if enable_proxy is defined and enable_proxy == true -%}
Environment="HTTP_PROXY={{ proxy_env.http_proxy }}"
Environment="HTTPS_PROXY={{ proxy_env.https_proxy }}"
Environment="NO_PROXY=localhost,127.0.0.1,127.0.0.0/8, {% for reg in local_image_repo -%}{{ reg }}{%- if not loop.last -%}, {% endif -%}{%- endfor -%}, {% for reg in proxy_registries -%}{{ reg }}{%- if not loop.last -%}, {% endif -%}{%- endfor -%}, {% for reg in insecure_registries -%}{{ reg }}{%- if not loop.last -%}, {% endif -%}{%- endfor -%}, {% if noproxy_registries is defined and noproxy_registries | length > 0 %}{% for reg in noproxy_registries -%}{{ reg }}{%- if not loop.last -%}, {% endif -%}{%- endfor -%}{%- endif -%}"
{% endif -%}
ExecStart={{ docker_bin_dir }}/dockerd -H fd:// --containerd=/run/containerd/containerd.sock --icc=false
ExecStartPost=-{{ docker_bin_dir }}/cleanup-docker-orphans.sh && /sbin/iptables -I FORWARD -s 0.0.0.0/0 -j ACCEPT
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
# Note that StartLimit* options were moved from "Service" to "Unit" in systemd 229.
# Both the old, and new location are accepted by systemd 229 and up, so using the old location
# to make them work for either version of systemd.
StartLimitBurst=3
# Note that StartLimitInterval was renamed to StartLimitIntervalSec in systemd 230.
# Both the old, and new name are accepted by systemd 230 and up, so using the old name to make
# this option work for either version of systemd.
StartLimitInterval=60s
TimeoutStartSec=0
TimeoutSec=0
RestartSec=5
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
# LimitNOFILE=1048576
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
# Comment TasksMax if your systemd version does not support it.
# Only systemd 226 and above support this option.
TasksMax=infinity
# set delegate yes so that systemd does not reset the cgroups of docker containers
Delegate=yes
# kill only the docker process, not all processes in the cgroup
KillMode=process

[Install]
WantedBy=multi-user.target
