---
apiVersion: v1
kind: Service
metadata:
  name: ingress-nginx-controller
  namespace: {{ addon.namespace }}
spec:
  type: LoadBalancer
  # externalTrafficPolicy: Local
  {% if ingress_lb_address != '' -%}
  loadBalancerIP: {{ ingress_lb_address }}
  {% endif -%}
