---
apiVersion: v1
kind: Service
metadata:
  namespace: kube-system
  name: kube-controller-manager
  labels:
    k8s-app: kube-controller-manager
spec:
  selector:
    component: kube-controller-manager
  type: ClusterIP
  clusterIP: None
  ports:
  - name: http-metrics
    port: {{ controller_manager.insecure_port }}
    targetPort: {{ controller_manager.insecure_port }}
    protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  namespace: kube-system
  name: kube-scheduler
  labels:
    k8s-app: kube-scheduler
spec:
  selector:
    component: kube-scheduler
  type: ClusterIP
  clusterIP: None
  ports:
  - name: http-metrics
    port: {{ scheduler.insecure_port }}
    targetPort: {{ scheduler.insecure_port }}
    protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  namespace: kube-system
  name: kube-etcd
  labels:
    k8s-app: kube-etcd
spec:
  selector:
    component: kube-etcd
  type: ClusterIP
  clusterIP: None
  ports:
  - name: https-metrics
    port: 2379
    targetPort: 2379
    protocol: TCP
---
apiVersion: v1
kind: Endpoints
metadata:
  name: kubernetes
subsets:
- addresses:
{% for host in (groups['masters'] + groups['add-masters']) %}
  - ip: {{ hostvars[host]['ansible_' + iface].ipv4.address }}
{% endfor %}
  ports:
  - name: https
    port: {{ apiserver_secure_port }}
    protocol: TCP
---
apiVersion: v1
kind: Endpoints
metadata:
  labels:
    k8s-app: kube-controller-manager
  name: kube-controller-manager
  namespace: kube-system
subsets:
- addresses:
{% for host in (groups['masters'] + groups['add-masters']) %}
  - ip: {{ hostvars[host]['ansible_' + iface].ipv4.address }}
{% endfor %}
  ports:
  - name: http-metrics
    port: {{ controller_manager.insecure_port }}
    protocol: TCP
---
apiVersion: v1
kind: Endpoints
metadata:
  labels:
    k8s-app: kube-scheduler
  name: kube-scheduler
  namespace: kube-system
subsets:
- addresses:
{% for host in (groups['masters'] + groups['add-masters'])%}
  - ip: {{ hostvars[host]['ansible_' + iface].ipv4.address }}
{% endfor %}
  ports:
  - name: http-metrics
    port: {{ scheduler.insecure_port }}
    protocol: TCP
---
apiVersion: v1
kind: Endpoints
metadata:
  labels:
    k8s-app: kube-etcd
  name: kube-etcd
  namespace: kube-system
subsets:
- addresses:
{% for host in (groups['masters'] + groups['add-masters'])%}
  - ip: {{ hostvars[host]['ansible_' + iface].ipv4.address }}
{% endfor %}
  ports:
  - name: https-metrics
    port: 2379
    protocol: TCP
