apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- coredns.yaml
- autoscale.yaml

images:
- name: coredns
  newName: {{ images.coredns.name.split(':')[0] }}
  newTag: {{ images.coredns.name.split(':')[1] }}
- name: autoscaler
  newName: {{ images.autoscaler.name.split(':')[0] }}
  newTag: {{ images.autoscaler.name.split(':')[1] }}
