---
{% if (kube_version is version('1.15.0', '>=')) %}
apiVersion: kubeadm.k8s.io/v1beta2
{% else %}
apiVersion: kubeadm.k8s.io/v1beta1
{% endif %}
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {% if groups['kube_masters'] | length == 1 %}{{ groups['masters'][0] }}{% else %}{{ vip_address }}{% endif %}

  bindPort: {% if groups['kube_masters'] | length == 1 %}{{ apiserver_secure_port|int }}{% else %}{{ lb_secure_port|int }}{% endif %}

nodeRegistration:
  kubeletExtraArgs:
    hostname-override: {{ hostvars[inventory_hostname]['ansible_' + iface].ipv4.address }}
  name: {{ inventory_hostname }}
---
{% if (kube_version is version('1.15.0', '>=')) %}
apiVersion: kubeadm.k8s.io/v1beta2
{% else %}
apiVersion: kubeadm.k8s.io/v1beta1
{% endif %}
kind: ClusterConfiguration
kubernetesVersion: v{{ kube_version }}
certificatesDir: {{ k8s_pki_dir }}
etcd:
  local:
    caFile: {{ etcd_ca }}
    certFile: {{ etcd_cert_apiserver_server }}
    keyFile: {{ etcd_cert_apiserver_server_key }}
    serverCertSANs:
    - localhost
    - {{ etcd_domain_name }}
{% for host in ((groups['kube_etcds'] | difference(groups['delete_etcds']) | unique)) %}
    - {{ hostvars[host].ansible_hostname }}
{% endfor %}
    - 127.0.0.1
    - 0:0:0:0:0:0:0:1
{% for host in ((groups['kube_etcds'] | difference(groups['delete_etcds']) | unique)) %}
    - {{ hostvars[host]['ansible_' + iface].ipv4.address }}
{% endfor %}
    peerCertSANs:
    - localhost
    - {{ etcd_domain_name }}
{% for host in ((groups['kube_etcds'] | difference(groups['delete_etcds']) | unique)) %}
    - {{ hostvars[host].ansible_hostname }}
{% endfor %}
    - 127.0.0.1
    - 0:0:0:0:0:0:0:1
{% for host in ((groups['kube_etcds'] | difference(groups['delete_etcds']) | unique)) %}
    - {{ hostvars[host]['ansible_' + iface].ipv4.address }}
{% endfor %}
apiServer:
  certSANs:
  - localhost
  - kubernetes
  - kubernetes.default
  - kubernetes.default.svc
{% for sub_domain in cluster_domain_name.split('.') %}
  {%- set outer_loop = loop %}
  - kubernetes.default.svc.{% for domain in cluster_domain_name.split('.') %}{% if loop.index <= outer_loop.index %}{{ domain }}{% if loop.index < outer_loop.index %}.{% endif %}{% endif %}{% endfor %}

{% endfor %}
{% for host in (groups['kube_masters']| default([])) | unique %}
  - {{ hostvars[host]['ansible_hostname'] }}
{% endfor %}
{% for domain in kube_master_external_domain %}
  - {{ domain }}
{% endfor %}
  - 127.0.0.1
  - 0:0:0:0:0:0:0:1
  - {{ api_service_ip }}
{% if lb_apiserver_ip is defined %}
  - {{ lb_apiserver_ip }}
{% endif %}
{% for host in (groups['kube_masters'] | default([])) | unique %}
  - {{ hostvars[host]['ansible_' + iface].ipv4.address }}
{% endfor %}
{% for ip in kube_master_external_ip %}
  - {{ ip }}
{% endfor %}
