#!/bin/bash

echo "## Expiration before renewal ##"
{{ kubernetes_bin_dir }}/kubeadm {{ 'alpha ' if kube_version is version('v1.20.0', '<') else '' }}certs check-expiration

echo "## Renewing certificates managed by kubeadm ##"
{{ kubernetes_bin_dir }}/kubeadm {{ 'alpha ' if kube_version is version('v1.20.0', '<') else '' }}certs renew all

echo "## Restarting control plane pods managed by kubeadm ##"
{% if container_runtime == 'docker' %}
{{ docker_bin_dir }}/docker ps -af 'name=k8s_POD_(kube-apiserver|kube-controller-manager|kube-scheduler|etcd)-*' -q | /usr/bin/xargs {{ docker_bin_dir }}/docker rm -f
{% elif container_runtime == 'containerd' -%}
{{ containerd_bin_dir }}/crictl pods --namespace kube-system --name 'kube-scheduler-*|kube-controller-manager-*|kube-apiserver-*|etcd-*' -q | /usr/bin/xargs {{ kubernetes_bin_dir }}/crictl rmp -f
{% endif %}

echo "## Updating /root/.kube/config ##"
/usr/bin/cp {{{ kubernetes_etc_dir }}/admin.conf /root/.kube/config

echo "## Waiting for apiserver to be up again ##"
until printf "" 2>>/dev/null >>/dev/tcp/127.0.0.1/6443; do sleep 1; done

echo "## Expiration after renewal ##"
{{ kubernetes_bin_dir }}/kubeadm {{ 'alpha ' if kube_version is version('v1.20.0', '<') else '' }}certs check-expiration
