global_defs {
{% if lb_role == "master" %}
    router_id lb-master-{{ hostvars[inventory_hostname]['ansible_' + iface].ipv4.address  }}
{% elif lb_role == "backup" %}
    router_id lb-backup-{{ hostvars[inventory_hostname]['ansible_' + iface].ipv4.address  }}
{% endif %}
    script_user root
    enable_script_security
}

vrrp_script check-haproxy {
    script "/usr/bin/killall -0 haproxy"
    interval 5
    weight -60
}

vrrp_instance VI-kube-master {
{% if lb_role == "master" %}
    state MASTER
    priority 120
{% elif lb_role == "backup" %}
    state BACKUP
    priority {{ 119 | random(61, 1) }}
{% endif %}
    unicast_src_ip {{ hostvars[inventory_hostname]['ansible_' + iface].ipv4.address  }}
    unicast_peer {
{% for host in groups['masters'] %}{% if hostvars[host]['ansible_' + iface].ipv4.address != hostvars[inventory_hostname]['ansible_' + iface].ipv4.address  %}
        {{ hostvars[host]['ansible_' + iface].ipv4.address }}
{% endif %}{% endfor %}
    }
    dont_track_primary
    interface {{ vip_interface }}
    virtual_router_id {{ virtual_router_id }}
    advert_int 3
    track_script {
        check-haproxy
    }
    virtual_ipaddress {
        {{ vip_address }}
    }
}
