[Unit]
Description=Containerd Socket for the API
PartOf=containerd.service

[Socket]
ListenStream=/var/run/containerd.sock
SocketMode=0660
SocketUser=root
SocketGroup=containerd

[Install]
WantedBy=sockets.target
